      <div class="tiny">
        <p>
          Except As Otherwise Noted, The Content Of This Page Is Licensed Under The
          <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC-BY-SA 4.0 License</a>
          And Code Samples Are Licensed Under The
          <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" rel="license">GPL 3.0 License</a>. For Details, See <a href="./preface#license">License</a>.
        </p>
      </div>
    </div>
  </body>
</html>
