changequote(`{{', `}}')
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="A Free/Open Source Book On Homotopy Type Theory For Beginners">
    <title>esyscmd({{head -n1 "../../../markdown/"$(cat ./chapt | sed -E "s|$|\.md|g") | sed -E "s|^#\ ||g" | sed -E "s|^|HoTT\ for\ Cools\:\ |g"}})</title>
    <style>include({{main.css}})</style>
    <link rel="icon" href="data:;base64,esyscmd({{base64 ../../../builder/favicon.png | tr -d '\n'}})">
  </head>
  <body>
    <div class="wrap">
      <p>
        <a href=".."><strong>Mehran Baghi</strong></a>
      </p>
      <div class="header">
        <strong style="font-size:250%;">HoTT for Cools</strong>
        <p>
          <strong><a href="./hott_for_cools.pdf">PDF</a></strong> &#124;
          <strong><a href="./hott_for_cools.epub">EPUB</a></strong> &#124;
          <strong><a href="./hott_for_cools.mobi">MOBI</a></strong> &#124;
          <strong><a href="https://gitlab.com/hott_for_cools/book/blob/master/markdown/esyscmd({{cat ./chapt | tr -d '\n'}}).md">EDIT</a></strong>
        </p>
        <p>
          <strong>esyscmd({{../../../builder/nextprev.sh prev}})</strong> &#124;
          <strong><a href=".">Table of contents</a></strong> &#124;
          <strong>esyscmd({{../../../builder/nextprev.sh next}})</strong>
        </p>
      </div>
