* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    color: #222;
    line-height: 1.6;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: 7% 0;
    width: 100%;
}

th,
td {
    padding: 1%;
}

p {
    margin: 1% 0 2%;
}

h1,
h2,
h3 {
    margin: 6% 0 0;
}

svg {
    vertical-align: middle;
}

.wrap {
    font-size: 110%;
    max-width: 700px;
    margin: 3% auto;
}

.disp {
    text-align: center;
}

.header {
    margin: 7% 0;
}

.tiny {
    margin-top: 15%;
    font-size: small;
}

@media (max-width: 400px) {
    .wrap {
        font-size: 100%;
    }
}
