changequote(`{{', `}}')
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="A Free/Open Source Book On Homotopy Type Theory For Beginners">
    <title>HoTT for Cools: A Gentle Introduction to Homotopy Type Theory</title>
    <style>include({{toc.css}})</style>
    <link rel="icon" href="data:;base64,esyscmd({{base64 ../../../builder/favicon.png | tr -d '\n'}})">
  </head>
  <body>
    <div class="wrap">
      <div class="cent">
        include({{../../../builder/HoTT_Doughnut_Coffee.svg}})
        <h1>HoTT for Cools</h1>
        <p>
          Warm Yourself Up Before Learning Homotopy Type Theory
          <strong>[Alpha Version]</strong>
        </p>
        <p>
                <strong><a href="./hott_for_cools.pdf">PDF</a></strong> &#124;
                <strong><a href="./hott_for_cools.epub">EPUB</a></strong> &#124;
                <strong><a href="./hott_for_cools.mobi">MOBI</a></strong> &#124;
          <strong><a href="https://gitlab.com/hott_for_cools/book">GitLab</a></strong>
        </p>
        <p>
          <a href=".."><strong>Mehran Baghi</strong></a>
        </p>
      </div>
      <h2>Table of contents</h2>
      include({{toc.html}})
    </div>
  </body>
</html>
